<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="httpExchangeService" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferPoolSize="999999" maxBufferSize="999999" maxReceivedMessageSize="999999"
              textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
              messageEncoding="Text">
              <readerQuotas maxDepth="999999" maxStringContentLength="999999"
                maxArrayLength="999999" maxBytesPerRead="999999" maxNameTableCharCount="999999" />
              <security mode="None" />
            </binding>
          </basicHttpBinding>
            
        </bindings>
        <client>
            <endpoint address="http://localhost:2016/http" binding="basicHttpBinding"
                bindingConfiguration="httpExchangeService" contract="ex.IService"
                name="httpExchangeService" />
        </client>
    </system.serviceModel>
</configuration>